[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
tzlocal = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-apscheduler = "*"
flask-caching = "*"
requests = "*"
psutil = "*"
waitress = "*"
intervaltree = "*"
flask-wtf = "*"
pillow = "*"
selenium = "*"
screeninfo = "*"
flask-login = "*"
flask-bcrypt = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.10"
