{% extends "layouts/base.html" %}

{% block title %} Satellites {% endblock %} 

<!-- Specific Page CSS goes HERE  -->

{% block stylesheets %}
  <!-- <style>
  .card {
    display: flex;
    flex-direction: row;
  }

  .card-img-container {
    flex: 0 0 40%; /* Set the image container to take up 40% of the card width */
    text-align: right; /* Align the image to the right within the image container */
  }

  #satellite-image {
    max-height: 400px;
    max-width: 100%; /* Ensure the image does not exceed the container width */
  }

  .card-body {
    flex: 1; /* Make the card body take up the remaining space */
  }
</style> -->
{% endblock stylesheets %}

{% block content %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
<div class="d-block mb-4 mb-md-0">
<nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent" hidden>
                  <li class="breadcrumb-item">
                      <a href="#">
                          <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                      </a>
                  </li>
                  <li class="breadcrumb-item"><a href="#">Volt</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Satellites</li>
              </ol>
          </nav>
          <h1 class="text-center" data-i18n="satellite"></h1>
</div>
</div>
<div class="container mt-0">
  <div class="form-group">
    <label for="satellite-dropdown" data-i18n="select_a_satellite"></label>
    
      <select class="form-control" id="satellite-dropdown" onchange="changeSatellite()">
      <option value="non" data-i18n="choose"></option>
      <option value="noaa15">NOAA 15</option>
      <option value="noaa18">NOAA 18</option>
      <option value="noaa19">NOAA 19</option>
    </select>
  
  </div>
  <div class="mt-4">
    <div class="card justify-content-center">
      <div class="card-img-container">
        <img id="satellite-image" src="noaa19.jpeg" alt="" height="400">
      </div>
      <div class="card-body">
        <h5 class="card-title" id="satellite-title" data-i18n="know_more"></h5>
        <p class="card-text" id="satellite-info" data-i18n=""></p>
        <h6 class="card-text" id="satellite-whatis"></h6>
        <p class="card-text" id="satellite-whatisdesc"></p>
        <h6 class="card-text" id="satellite-whatdoes"></h6>
        <p class="card-text" id="satellite-whatdoesdesc"></p>
        <h6 class="card-text" id="satellite-howdoes"></h6>
        <p class="card-text" id="satellite-howdoesdesc"></p>
        <!-- <h6 class="card-text" id="satellite-funfact"></h6>
        <p class="card-text" id="satellite-funfactdesc"></p> -->
      </div>
    </div>
  </div>
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{{ super() }}
<script src="{{ config.ASSETS_ROOT }}/static/assets/js/language.js"></script>
<script>

    function changeSatellite() {
      const dropdown = document.getElementById("satellite-dropdown");
      const selectedValue = dropdown.value;
      const satelliteImage = document.getElementById("satellite-image");
      const satelliteTitle = document.getElementById("satellite-title");
      const satelliteInfo = document.getElementById("satellite-info");
      const satelliteWhatIs = document.getElementById("satellite-whatis");
      const satelliteWhatIsDesc = document.getElementById("satellite-whatisdesc");
      const satelliteWhatDoes = document.getElementById("satellite-whatdoes");
      const satelliteWhatDoesDesc = document.getElementById("satellite-whatdoesdesc");
      const satelliteHowDoes = document.getElementById("satellite-howdoes");
      const satelliteHowDoesDesc = document.getElementById("satellite-howdoesdesc");
      // const satelliteFunfact = document.getElementById("satellite-funfact");
      // const satelliteFunfactDesc = document.getElementById("satellite-funfactdesc");

      switch (selectedValue) {
        case "noaa15":
          satelliteImage.src = "{{ url_for('static', filename='assets/img/satellites/NOAA-15.jpg') }}";
          satelliteTitle.setAttribute("data-i18n", "title_main_n15" );
          satelliteInfo.setAttribute("data-i18n", "discover_n15" );
          satelliteWhatIs.setAttribute("data-i18n", "title_what_is_n15" );
          satelliteWhatIsDesc.setAttribute("data-i18n", "what_is_n15" );
          satelliteWhatDoes.setAttribute("data-i18n", "title_what_does_n15" );
          satelliteWhatDoesDesc.setAttribute("data-i18n", "what_does_n15" );
          satelliteHowDoes.setAttribute("data-i18n", "title_how_does_n15" );
          satelliteHowDoesDesc.setAttribute("data-i18n", "how_does_n15" );
          // satelliteFunfact.textContent = "Fun Facts about NOAA 15:";
          // satelliteFunfactDesc.textContent = "NOAA stands for the National Oceanic and Atmospheric Administration, and they take care of this satellite.\nNOAA 15 moves super fast, traveling around the Earth more than 14 times every single day!\nIt's been exploring space since May 1998, so it's a real space veteran!\nNext time you look up at the sky, remember that NOAA 15 might be flying above, working hard to keep us safe and understand our wonderful planet Earth. It's like having a superhero in the sky, watching over us all! 🌍🛰️\nNow, wasn't that a fascinating journey to learn about NOAA 15? Keep exploring and never stop wondering about the incredible universe around us! 🌌🌠";
          changeLanguage('cn');
          break;
        case "noaa18":
          satelliteImage.src = "{{ url_for('static', filename='assets/img/satellites/NOAA-18.jpg') }}";
          satelliteTitle.setAttribute("data-i18n", "title_main_n18" );
          satelliteInfo.setAttribute("data-i18n", "discover_n18" );
          satelliteWhatIs.setAttribute("data-i18n", "title_what_is_n18" );
          satelliteWhatIsDesc.setAttribute("data-i18n", "what_is_n18" );
          satelliteWhatDoes.setAttribute("data-i18n", "title_what_does_n18" );
          satelliteWhatDoesDesc.setAttribute("data-i18n", "what_does_n18" );
          satelliteHowDoes.setAttribute("data-i18n", "title_how_does_n18" );
          satelliteHowDoesDesc.setAttribute("data-i18n", "how_does_n18" );
          // satelliteFunfact.textContent = "Fun Facts about NOAA 18:";
          // satelliteFunfactDesc.textContent = "    NOAA 18 was launched in May 2005, so it's been zipping through space for quite a while now!\nIt orbits our planet more than 14 times a day, traveling faster than a speeding race car!";
          changeLanguage('cn');
          break;
        case "noaa19":
          satelliteImage.src = "{{ url_for('static', filename='assets/img/satellites/NOAA-19.jpg') }}";
          satelliteTitle.setAttribute("data-i18n", "title_main_n19" );
          satelliteInfo.setAttribute("data-i18n", "discover_n19" );
          satelliteWhatIs.setAttribute("data-i18n", "title_what_is_n19" );
          satelliteWhatIsDesc.setAttribute("data-i18n", "what_is_n19" );
          satelliteWhatDoes.setAttribute("data-i18n", "title_what_does_n19" );
          satelliteWhatDoesDesc.setAttribute("data-i18n", "what_does_n19" );
          satelliteHowDoes.setAttribute("data-i18n", "title_how_does_n19" );
          satelliteHowDoesDesc.setAttribute("data-i18n", "how_does_n19" );
          // satelliteFunfact.textContent = "Fun Facts about NOAA 19:";
          // satelliteFunfactDesc.textContent = "    NOAA 19 joined the family in February 2009, so it's a bit younger than its siblings, but still just as awesome!\nIt's also super speedy, zooming around the Earth like a shooting star!\nThere you have it – a trio of incredible weather satellites, NOAA 15, NOAA 18, and NOAA 19, working together to make sure we stay safe and prepared for whatever weather comes our way! 🌦️🌍🛰️ Keep looking up to the stars and exploring the wonders of our beautiful universe! 🌌🚀";
          changeLanguage('cn');
          break;
        default:
          break;
      }
    }
  </script>
{% endblock javascripts %}
