{% extends "layouts/base.html" %}

{% block title %} Satellites {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}

<!DOCTYPE html>
<html>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
<div class="d-block mb-4 mb-md-0">
<nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item">
                      <a href="#">
                          <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                      </a>
                  </li>
                  <li class="breadcrumb-item"><a href="#">Volt</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Manage</li>
              </ol>
          </nav>
          <h1 class="text-center">Satellites</h1>
</div>
</div>
<div class="col-sm-10">
  <p class="text-danger mb-0">Settings here will affect your capability of scheduling a pass for the satellite in Schedules.</p>
</div>
  <div class="container mt-4 mb-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card" id="card1">
          <div class="card-body">
            <h4 class="card-title">NOAA 15</h4>
            <div class="d-flex align-items-center">
                <div class="bg-danger dot rounded-circle me-1"></div>
                <small>Satellite is disabled...</small>
            </div>
            <div class="d-flex align-items-end flex-column mb-1 mt-4">
            <div class="dropdown me-1">
                <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
                Action
                </button>
                <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuOffset">
                    <li><a class="dropdown-item rounded-top"  id="successAlert">Enable</a></li>
                    <li><a class="dropdown-item" href="#">Enable & Schedule</a></li>
                    <li><a class="dropdown-item rounded-bottom" href="#">Visit Page</a></li>
                </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" id="card2">
          <div class="card-body">
            <h4 class="card-title">NOAA 18</h4>
            <div class="d-flex align-items-center">
                <div class="bg-success dot rounded-circle me-1"></div>
                <small>Satellite is enabled...</small>
            </div>
            <div class="d-flex align-items-end flex-column mb-1 mt-4">
            <div class="dropdown me-1">
                <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
                Action
                </button>
                <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuOffset">
                    <li><a class="dropdown-item rounded-top" id="successAlert">Enable</a></li>
                    <li><a class="dropdown-item" href="#">Enable & Schedule</a></li>
                    <li><a class="dropdown-item rounded-bottom" href="#">Visit Page</a></li>
                </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" id="card3">
          <div class="card-body">
            <h4 class="card-title">NOAA 19</h4>
            <div class="d-flex align-items-center">
                <div class="bg-success dot rounded-circle me-1"></div>
                <small>Satellite is enabled...</small>
            </div>
            <div class="d-flex align-items-end flex-column mb-1 mt-4">
            <div class="dropdown me-1">
                <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
                Action
                </button>
                <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuOffset">
                    <li><a class="dropdown-item rounded-top"  id="successAlert">Enable</a></li>
                    <li><a class="dropdown-item" href="#">Enable & Schedule</a></li>
                    <li><a class="dropdown-item rounded-bottom" href="#">Visit Page</a></li>
                </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-end flex-column mb-4 mt-4">
    
        <small class="text-muted">** Click to apply changes</small>
     
    <button class="btn btn-lg btn-primary" type="button">Apply Changes</button>
  </div>
  </div>

  

</html>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>

  const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-primary',
                cancelButton: 'btn btn-gray'
            },
            buttonsStyling: false
        });

  document.getElementById('successAlert').addEventListener('click', function () {
            swalWithBootstrapButtons.fire({
                icon: 'success',
                title: 'Success alert',
                text: 'Your work has been saved',
                showConfirmButton: true,
                timer: 2000
            })
        });
</script>
{% endblock javascripts %}
