{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
        
    <div class="row">
        
        
        
        <div >
            <h2 class="h5 mb-4" data-i18n="general_settings"></h2>
            <div class="card card-body border-0 shadow mb-4">
                <form method="post">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            {{ form.csrf_token }}
                            <div>
                                {% include "pages/errors.html" %}

                                <label for="ground_station_name">{{form.GStationName.label}}</label>
                                {{form.GStationName(class_="form-control")}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <div>
                                <label for="lat">{{form.latitude.label}}</label>
                                {{form.latitude(class_="form-control")}}
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div>
                                <label for="lng">{{form.longitude.label}}</label>
                                {{form.longitude(class_="form-control")}}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="gender">{{form.altitude.label}}</label>
                            {{form.altitude(class_="form-control")}}
                        </div>
                    </div>
                    <div class="row align-items-center">
                        
                            <div class="col-md-12 mb-3">
                                <label for="timezone">{{form.Timezone.label}}</label>
                                {{form.Timezone(class_="form-control")}}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="tlesource">{{form.TLESource.label}}</label>
                                {{form.TLESource(class_="form-control")}}
                            </div>
                    </div>
                        <div class="row">
                        <div class="col-md-3 mb-3">
                            <div>
                                <label for="lat">{{form.AudioDirectory.label}}</label>
                                {{form.AudioDirectory(class_="form-control")}}
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div>
                                <label for="lat">{{form.ImageDirectory.label}}</label>
                                {{form.ImageDirectory(class_="form-control")}}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="gender">{{form.minElevation.label}}</label>
                            {{form.minElevation(class_="form-control")}}
                        </div>
                    </div>
                        <div class="mt-3">
                            <button id="Save-all" class="btn btn-gray-800 mt-2 animate-up-2" type="submit" data-i18n="save_all"></button>
                        </div>
                    </div>
                </form>
            </div>
            
            <h2 class="h5 mb-4" data-i18n="alerts_notifications"></h2>
            <div class="card card-body border-0 shadow mb-4 mb-xl-0">
                
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1" data-i18n="enable_aos_los_notifications"></h3>
                            <p class="small pe-4" data-i18n="notifications_description"></p>
                        </div>
                        <div>
                            <div class="form-check form-switch">
                                {% if S1 %}
                                <input class="form-check-input" type="checkbox" id="user-notification-1" checked>
                                {% else %}
                                <input class="form-check-input" type="checkbox" id="user-notification-1">
                                {% endif %}
                                <label class="form-check-label" for="user-notification-1"></label>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
    
                            <h3 class="h6 mb-1" data-i18n="enable_status_notifications"></h3>
                            <p class="small pe-4" data-i18n="status_notifications_description"></p>
                        </div>
                        <div>
                            <div class="form-check form-switch">
                                {% if S2 %}
                                <input class="form-check-input" type="checkbox" id="user-notification-2" checked>
                                {% else %}
                                <input class="form-check-input" type="checkbox" id="user-notification-2">
                                {% endif %}
                                <label class="form-check-label" for="user-notification-2"></label>
                            </div>                                            
                        </div>
                    </li>
                    
                    
                </ul>
            </div>
        
        
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{{ super() }}
<script>
$("#user-notification-1").on('change', function(e){
    e.preventDefault();
    e.stopPropagation();
    let value = $(this).is(':checked');
    $.ajax({
        type: "POST",
        contentType: "application/json",
        url:"/notificationStatus",
        data:JSON.stringify({id:'user-notification-1', value: value}),
        dataType: "json"
    });
});

$("#user-notification-2").on('change', function(e){
    e.preventDefault();
    e.stopPropagation();
    let value = $(this).is(':checked');
    $.ajax({
        type: "POST",
        contentType: "application/json",
        url:"/notificationStatus",
        data:JSON.stringify({id:'user-notification-2', value: value}),
        dataType: "json"
    });
});

$("#Save-all").on('click', function(e){
   e.preventDefault();
   e.stopPropagation();
   let data = Array
   .from(new FormData(document.querySelector('form')))
   .filter(function([k, v]) { return v });

   data = Object.fromEntries(data.map((t) => [t[0], t[1]]))
   console.log(data);

  let xhr = $.ajax({
    type: "POST",
    contentType: "application/json",
    url: "/updateSettings",
    data: JSON.stringify(data),
    success: function(response, status, xhr) {
        $("#error-list").replaceWith(response);
        swalWithBootstrapButtons.fire({
            icon: 'success',
            title: 'Success alert',
            text: 'Settings have been updated!',
            showConfirmButton: true,
            timer: 2000});
    },
    error: function(response, status, xhr){
    $("#error-list").replaceWith(response.responseText);
    console.log(response)

    swalWithBootstrapButtons.fire({
        icon: 'error',
        title: 'Error',
        text: 'Invalid Settings',
        showConfirmButton: true,
    });
    },
    
  });
});
$( document ).ready(function() {
    $("#theme-settings-expand").hide();
});


//let swalWithBootstrapButtons = Swal.mixin({
//    customClass: {
//        confirmButton: 'btn btn-primary',
//        cancelButton: 'btn btn-gray'
//    },
//    buttonsStyling: false
//  });
  

</script>

{% endblock javascripts %}
