{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
        
    <div class="row">
        
        <div >
            <h2 class="h5 mb-4">General Settings</h2>
            <div class="card card-body border-0 shadow mb-4">
                <form>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div>
                                <label for="ground_station_name">Ground Station Name</label>
                                <input class="form-control" id="ground_station_name" type="text" placeholder="Earth Station" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <div>
                                <label for="lat">Latitude</label>
                                <input class="form-control" id="last_name" type="text" placeholder="Latitude" required>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div>
                                <label for="lat">Longitude</label>
                                <input class="form-control" id="last_name" type="text" placeholder="Longitude" required>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="gender">Altitude</label>
                            <input class="form-control" id="first_name" type="text" placeholder="From Mean Sea Level" required>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        
                            <div class="col-md-12 mb-3">
                                <label for="timezone">Timezone</label>
                                <select class="form-select w-100 mb-0" id="timezone" name="timezone" aria-label="timezone select">
                                    <option selected>Timezone</option>
                                    <option value="LOC">Local</option>
                                    <option value="UTC">UTC</option>
                                </select>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="tlesource">TLE Source</label>
                                <select class="form-select w-100 mb-0" id="tlesource" name="tlesource" aria-label="tlesource select">
                                    <option selected>TLE Source</option>
                                    <option value="celestrak">Celestrak</option>
                                    <option value="local">Local File</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-md-3 mb-3">
                            <div>
                                <label for="lat">Wav File Directory</label>
                                <input class="form-control" id="last_name" type="text" placeholder="D:/Documents/NOAA_Wav" required>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div>
                                <label for="lat">Product Directory</label>
                                <input class="form-control" id="last_name" type="text" placeholder="D:/Documents/NOAA_Image" required>
                            </div>
                        </div>
                    </div>
                        <div class="mt-3">
                            <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">Save all</button>
                        </div>
                    </div>
                </form>
            </div>
            <h2 class="h5 mb-4">Alerts & Notifications</h2>
            <div class="card card-body border-0 shadow mb-4 mb-xl-0">
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1">Enable AOS/LOS Notifications</h3>
                            <p class="small pe-4">Notifications will be issued before, during and after pass reception.</p>
                        </div>
                        <div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="user-notification-1">
                                <label class="form-check-label" for="user-notification-1"></label>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1">Enable System Status Notifications</h3>
                            <p class="small pe-4">Get system related notifications i.e, RTL-SDR offline etc.,</p>
                        </div>
                        <div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="user-notification-2" checked>
                                <label class="form-check-label" for="user-notification-2"></label>
                            </div>                                            
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
        
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
