{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/jquery.countdown.css') }}">
<style type="text/css">
#defaultCountdown { width: 240px; height: 55px; background: rgb(31 41 55); border-color: rgb(31 41 55)}
</style>

{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-12 mb-2">
            <div class="card bg-gray-800 border-0 shadow">
                <div class="card-header d-sm-flex flex-row align-items-center flex-0">
                    <div class="d-block mb-0 mb-sm-0">
                        <h3 class="fw-extrabold text-white">Scheduled Passes</h3>
                        <h2 class="fs-4 fw-extrabold text-secondary">01</h2>
                    </div>
                    <div class="d-flex ms-auto">
                        <span id="defaultCountdown"></span>
                    </div>
                </div>
                <div class="card-body p-2">
                    <div class="container">
                        <canvas id="bar-chart" height="80"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="h5">Next Pass</h1>
        
        <div class="col-12 col-sm-6 col-xl-4 mb-0">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-success rounded me-4 me-sm-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-circle-fill text-success" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/></svg>
                            </div>
                            <div class="d-sm-none">
                                <h2 class="h5">AOS</h2>
                                <h3 class="fw-extrabold mb-1">19:38:36</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">AOS</h2>
                                <h3 id="AOS_time" class="fw-extrabold mb-0">19:38:36</h3>
                            </div>
                            <div class="small d-flex mt-0">                               
                                <div id="AOS_date">2023-02-14 PST <svg class="icon icon-xs text-success" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg><span class="text-success fw-bolder">45</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-0">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-record-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-8 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></svg>
                            </div>
                            <div class="d-sm-none">
                                <h2 class="h5">Top</h2>
                                <h3 class="fw-extrabold mb-0">19:42:23</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Top</h2>
                                <h3 id="TOP_time" class="fw-extrabold mb-0">19:42:23</h3>
                                <div class="small d-flex mt-0">                               
                                    <div id="TOP_date">2023-14-02 PST <svg class="icon icon-xs text-secondary" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" clip-rule="evenodd"></path></svg><span class="text-secondary fw-bolder">68</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-0">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-danger rounded me-4 me-sm-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-down-circle-fill text-danger" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/></svg>
                            </div>
                            <div class="d-sm-none">
                                <h2 class="h5"> LOS</h2>
                                <h3 class="fw-extrabold mb-0">19:48:50</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0"> LOS</h2>
                                <h3 id= "LOS_time" class="fw-extrabold mb-0">19:48:50</h3>
                                <div class="small d-flex mt-0">                               
                                <div id= "LOS_date">2023-14-02 PST <svg class="icon icon-xs text-danger" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg><span class="text-danger fw-bolder">108</span></div>
                                </div>
                            </div> 
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="h5">Status</h1>
    <div class="container">
    <div class="row">
      <!-- First card -->
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h4 class="h6 mb-0">
                <a href="#">RTL SDR</a>
            </h4>
            <div id="status1" class="d-flex align-items-center">
                <div class="bg-success dot rounded-circle me-1"></div>
                <small>Online</small>
            </div>
          </div>
        </div>
      </div>

      <!-- Second card -->
      <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="h6 mb-0">
                    <a href="#">SDR Server</a>
                </h4>
                <div id="status2" class="d-flex align-items-center">
                    <div class="bg-success dot rounded-circle me-1"></div>
                    <small>Busy</small>
                </div>
            </div>
        </div>
      </div>

      <!-- Third card -->
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h4 class="h6 mb-0">
                <a href="#">Database</a>
            </h4>
            <div class="d-flex align-items-center">
                <div class="bg-success dot rounded-circle me-1"></div>
                <small>Online</small>
            </div>
          </div>
        </div>
      </div>

      <!-- Fourth card -->
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h4 class="h6 mb-0">
                <a href="#">Rotor</a>
            </h4>
            <div class="d-flex align-items-center">
                <div class="bg-danger dot rounded-circle me-1"></div>
                <small>Offline</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{{ url_for('static', filename='assets/js/chart.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.countdown.js') }}"></script>
<script>
  $("#defaultCountdown").each(function StartTimer() {
    var $this = $(this);
    $.ajax({
        type: "GET",
        url: "/ScheduledPasses",
        success: function(data) {
          var AOSdate = new Date(data[0].AOS);
          var LOSdate = new Date(data[0].LOS);
          var TOPdate = new Date((AOSdate.getTime() + LOSdate.getTime()) / 2);
          //console.log(TOPdate);
          //console.log(AOSdate);
          $this.countdown({until: AOSdate});
          $this.data('aos',data[0].AOS);
          $this.data('los',data[0].LOS);
          $this.data('el',data[0].maxElevation);
          console.log($this.data('aos'));
          //console.log(AOSdate.toTimeString().slice(0, 9));
          document.getElementById("AOS_time").textContent= AOSdate.toTimeString().slice(0, 9);
          document.getElementById("AOS_date").textContent= AOSdate.toISOString().slice(0,10);

          document.getElementById("LOS_time").textContent= LOSdate.toTimeString().slice(0, 9);
          document.getElementById("LOS_date").textContent= LOSdate.toISOString().slice(0,10);

          document.getElementById("TOP_time").textContent= TOPdate.toTimeString().slice(0, 9);
          document.getElementById("TOP_date").textContent= TOPdate.toISOString().slice(0,10);
          
        }
    });  
  });
    // Function to format time in 24-hour format
    function formatTime(hour, minute) {
      return hour.toString().padStart(2, "0") + ":" + minute.toString().padStart(2, "0");
    }

    // Initial data for the chart
    var data = {
      labels: [],
      datasets: [{
        label: "",
        data: [],
        backgroundColor: [],
        hoverBackgroundColor: "rgba(75, 192, 192, 0.8)",
        //barPercentage: 0.8, // Reduce bar width to 80% of the available space
        categoryPercentage: 1.1, // Reduce spacing between bars to 90% of the available space
      }]
    };

    // Chart configuration
    var config = {
      type: "bar",
      data: data,
      options: {
        responsive: true,
        scales: {
          x: {
            grid: {
              display: false
            },
            title: {
              display: true,
              text: "Time"
            }
          },
          y: {
            beginAtZero: true,
            max: 90,
            title: {
              display: true,
              text: "Max Elevation"
            }
          }
        },
        plugins: {
          tooltip: {
            enabled: true,
            callbacks: {
                    label: function(context) {
                        let label = context.dataset.label || '';

                        if (label) {
                            label += ': ';
                        }
                        if (context.parsed.y > 1) {
                            console.log(context.parsed.y);
                            label += "NOAA-15";
                        }
                        return label;
                    }
                }
          }
        }
      }
    };

    // Initialize the chart
    var ctx = document.getElementById("bar-chart").getContext("2d");
    var chart = new Chart(ctx, config);

    // Function to update the chart data
    function updateChart() {
      // Generate random data for the chart
        
      const aos = $("#defaultCountdown").data('aos');
      const los = $("#defaultCountdown").data('los');
      var maxEl = $("#defaultCountdown").data('el');
      console.log(maxEl);
      var updatedLabels = [];
      var updatedData = [];
      var updatedBgColors = [];
      var currentDate = new Date();
      var tooltipIndices = [];
      for (var i = 0; i < 360; i++) {
        var hour = currentDate.getHours()  % 24;
        var minute = currentDate.getMinutes() + i;
        var label = formatTime(hour + (Math.floor(minute / 60)), minute % 60);
        updatedLabels.push(label);
        const thisTime = new Date(2023, 7, 4, hour + (Math.floor(minute / 60)), minute % 60, 0, 0);
        //console.log(thisTime);
        if (aos < thisTime && thisTime < los) {
          updatedBgColors.push("rgba(255, 0, 0, 0.6)"); // Red color
          var value = maxEl;//Math.random() * 90; // Random value
          tooltipIndices.push(updatedBgColors.length-1)
        } else {
          updatedBgColors.push("rgba(75, 192, 192, 0.6)"); // Default color
          var value = 1;//Math.random() * 90; // Random value
        } 
        updatedData.push(value);
      }

      // Update the chart with the new data
      chart.data.labels = updatedLabels;
      chart.data.datasets[0].data = updatedData;
      chart.data.datasets[0].backgroundColor = updatedBgColors; 


      // Display tooltip
      const tooltip = chart.tooltip;
      if (tooltip.getActiveElements().length > 0) {
        tooltip.setActiveElements([], {x: 0, y: 0});
      } else {
        const chartArea = chart.chartArea;
        tooltip.setActiveElements([
          {
            datasetIndex: 0,
            index: tooltipIndices[0],
          }
        ],
        {
          x: (chartArea.left + chartArea.right) / 2,
          y: (chartArea.top + chartArea.bottom) / 2,
        });
      }

      chart.update();
    }

    // Update the chart every minute
    setInterval(updateChart, 10000); // Adjust interval as needed (60000 ms = 1 minute)

    let Timeout = 15000;

  $("#status1").each(function CheckRTL() {
    var $this = $(this);
    $.ajax({
        type: "GET",
        url: "/statusRTL",
        success: function(data) {
          if(data['RTLstatus']== "OK")
          {
            let statusdiv = document.body.querySelectorAll("#status1 > div");
            $(statusdiv[0]).removeClass('bg-danger').addClass('bg-success');

            let smallstatus = document.body.querySelectorAll("#status1 > small");
            $(smallstatus[0]).text("Online");

          }
          else{
            let statusdiv = document.body.querySelectorAll("#status1 > div");
            $(statusdiv[0]).removeClass('bg-success').addClass('bg-danger');

            let smallstatus = document.body.querySelectorAll("#status1 > small");
            $(smallstatus[0]).text("Offline");
          }
        }
    });
    setTimeout(CheckRTL, Timeout);
});

$("#status2").each(function CheckSDR() {
    var $this = $(this);
    $.ajax({
        type: "GET",
        url: "/statusSDR",
        success: function(data) {
          if(data['SDRstatus']== "OK")
          {
            let statusdiv = document.body.querySelectorAll("#status2 > div");
            console.log(statusdiv);
            $(statusdiv[0]).removeClass('bg-danger').addClass('bg-success');

            let smallstatus = document.body.querySelectorAll("#status2 > small");
            $(smallstatus[0]).text("Online");

          }
          else{
            let statusdiv = document.body.querySelectorAll("#status2 > div");
            $(statusdiv[0]).removeClass('bg-success').addClass('bg-danger');

            let smallstatus = document.body.querySelectorAll("#status2 > small");
            $(smallstatus[0]).text("Offline");
          }
        }
    });
    setTimeout(CheckSDR, Timeout);
});
</script>
{% endblock javascripts %}
