

<!-- Core -->
<script src="{{ url_for('static' , filename = 'vendor/@popperjs/core/dist/umd/popper.min.js' )}}"></script>
<script src="{{ url_for('static' , filename = 'vendor/bootstrap/dist/js/bootstrap.min.js' )}}"></script>

<!-- Vendor JS -->
<script src="{{ url_for('static' , filename = 'vendor/onscreen/dist/on-screen.umd.min.js' )}}"></script>

<!-- Slider -->
<script src="{{ url_for('static' , filename = 'vendor/nouislider/dist/nouislider.min.js' )}}"></script>

<!-- Smooth scroll -->
<script src="{{ url_for('static' , filename = 'vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' )}}"></script>

<!-- Charts -->
<script src="{{ url_for('static' , filename = 'vendor/chartist/dist/chartist.min.js' )}}"></script>
<script src="{{ url_for('static' , filename = 'vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' )}}"></script>

<!-- Datepicker -->
<script src="{{ url_for('static' , filename = 'vendor/vanillajs-datepicker/dist/js/datepicker.min.js' )}}"></script>

<!-- Sweet Alerts 2 -->
<script src="{{ url_for('static' , filename = 'vendor/sweetalert2/dist/sweetalert2.all.min.js' )}}"></script>

<!-- Moment JS -->
<script src="{{ url_for('static', filename='assets/js/moment.min.js') }}"></script>

<!-- Vanilla JS Datepicker -->
<script src="{{ url_for('static' , filename = 'vendor/vanillajs-datepicker/dist/js/datepicker.min.js' )}}"></script>

<!-- Notyf -->
<script src="{{ url_for('static' , filename = 'vendor/notyf/notyf.min.js' )}}"></script>

<!-- Simplebar -->
<script src="{{ url_for('static' , filename = 'vendor/simplebar/dist/simplebar.min.js' )}}"></script>

<!-- Github buttons -->
<script async defer src="{{ url_for('static', filename='assets/js/buttons.js') }}"></script>

<!-- Volt JS -->
<script src="{{ url_for('static' , filename = 'assets/js/volt.js' )}}"></script>

<!-- jquery -->
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.plugin.min.js') }}"></script>

<!-- slim-select -->
<script src="{{ url_for('static', filename='assets/js/slimselect.min.js') }}"></script>