
<div class="theme-settings card bg-gray-800 pt-2 collapse" id="theme-settings">
    <div class="card-body bg-gray-800 text-white pt-4">
        <button type="button" class="btn-close theme-settings-close" aria-label="Close" data-bs-toggle="collapse"
            href="#theme-settings" role="button" aria-expanded="false" aria-controls="theme-settings"></button>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 24 24">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </svg>
            <p class="m-0 mb-1 me-4 fs-7" id="fact"> 1.3 Million earths can fit inside the sun</p>
        </div>
        
    </div>
</div>

<div class="card theme-settings bg-gray-800 theme-settings-expand" id="theme-settings-expand">
    <div class="card-body bg-gray-800 text-white rounded-top p-3 py-2">
        <span class="fw-bold d-inline-flex align-items-center h6">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-lightbulb-fill" viewBox="0 0 24 24">
            <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5z"/>
            </svg>
            Space Facts
        </span>
    </div>
</div>

{% block javascript %}
    <script>
  
        

        const facts = [

            'Space is completely silent.',
            'The hottest planet in our solar system is 450° C.',
            'There may be life on Mars.',
            'Nobody knows how many stars are in space.',
            'Halleys Comet won’t orbit past Earth again until 2061.',
            'A full NASA space suit costs $12,000,000.',
            'Neutron stars can spin 600 times per second.',
            'There may be a planet made out of diamonds.',
            'The footprints on the Moon will be there for 100 million years.',
            'One day on Venus is longer than one year.',
            'In 3.75 billion years the Milky Way and Andromeda galaxies will collide.',
            'If two pieces of the same type of metal touch in space they will permanently bond.',
            'There is floating water in space.',
            'The largest known asteroid is 965 km (600 mi) wide.',
            'The Moon was once a piece of the Earth.',
            'The Sun’s mass takes up 99.86% of the solar system.',
            'There is a volcano on Mars three times the size of Everest.',
            'Mercury and Venus are the only planets with no moons.',
            'Saturn has 82 known moons and counting.',
            'The gas giant Jupiter is a failed star.',
            'Uranus orbits the Sun on its side.',
            'Pluto is now classified as a dwarf planet, not a planet.',
            'Pluto and Charon could be a double dwarf planet system.',
            'There are five officially recognized dwarf planets in the solar system.',
            'Earth’s Moon is the fifth largest moon in the solar system.',
            'Enceladus, Saturn’s Moon, is the most reflective body in the solar system.',
            'The moons of Uranus were named after characters created by Alexander Pope and William Shakespeare.',
            'There are more stars in the universe than all the grains of sand on Earth.',
            'The Sun will engulf Earth 5 billion years from now.',
            'When you look at a star, what you actually see is how it was in the past.',
            'Massive stars end their lives through supernova explosions.',
            'Galaxies are either elliptical, spiral, or irregular.',
            'There are 2,000,000,000,000 galaxies in the observable universe.',
            'Most galaxies have a central black hole.',
            'All planets in the solar system have been visited by uncrewed spacecraft.',
            'Voyager 1 and 2 have been operating for more than 40 years.',
            'The boundary of the solar system ends in a spherical cloud known as the Oort cloud.',
            'About 1.4 billion years ago, a day on Earth was just 18 hours 41 minutes long.',
            'The International Space Station (ISS) is about as wide as a soccer field.',
            'It is possible to see the International Space Station from your backyard.',
            'Mars has a reddish sky but bluish twilights.',
            'Astronauts grow taller in space.',
            'The closest star system to us, Proxima Centauri, is 4.25 light-years away.',
            'A rose was brought to space in 1998.',
            'There are more than 4,000 known exoplanets, and counting.',
            'Other planets, and even a moon, have auroras too.',
            'Shooting stars are space debris that burn up when they enter Earth’s atmosphere.',
            'We often see astronauts in white spacesuits, but there are orange spacesuits too.',
            'As of 2021, more than 600 people have been in space.',
            'The outer space is very cold with a temperature of around -454.75 °F (-270.42 °C).'


            ];

        let rand = Math.random() * 50;
        console.log(rand); // say 99.81321410836433
        rand = Math.floor(rand);

        document.getElementById("fact").innerHTML = facts[rand];

    </script>

{% endblock %}