
<div class="theme-settings rounded-top card-volt bg-gray-700 pt-2 collapse" id="theme-settings">
    <div class="card-body text-white pt-4">
        <button type="button" class="btn-close theme-settings-close" aria-label="Close" data-bs-toggle="collapse"
            href="#theme-settings" role="button" aria-expanded="false" aria-controls="theme-settings"></button>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 24 24">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </svg>
            <p class="m-0 mb-1 me-4 fs-7" id="fact"> 1.3 Million earths can fit inside the sun</p>
        </div>
        
    </div>
</div>

<div class="theme-settings bg-gray-700 card-volt rounded-top theme-settings-expand" id="theme-settings-expand">
    <div class="card-body text-white rounded-top p-3 py-2">
        <span class="fw-bold d-inline-flex align-items-center h6">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-lightbulb-fill" viewBox="0 0 24 24">
            <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5z"/>
            </svg>
            <!-- Space Facts -->
            空间事实
        </span>
    </div>
</div>

{% block javascript %}
    <script>
  
        

        // const facts = [

        //     'Space is completely silent.',
        //     'The hottest planet in our solar system is 450° C.',
        //     'There may be life on Mars.',
        //     'Nobody knows how many stars are in space.',
        //     'Halleys Comet won’t orbit past Earth again until 2061.',
        //     'A full NASA space suit costs $12,000,000.',
        //     'Neutron stars can spin 600 times per second.',
        //     'There may be a planet made out of diamonds.',
        //     'The footprints on the Moon will be there for 100 million years.',
        //     'One day on Venus is longer than one year.',
        //     'In 3.75 billion years the Milky Way and Andromeda galaxies will collide.',
        //     'If two pieces of the same type of metal touch in space they will permanently bond.',
        //     'There is floating water in space.',
        //     'The largest known asteroid is 965 km (600 mi) wide.',
        //     'The Moon was once a piece of the Earth.',
        //     'The Sun’s mass takes up 99.86% of the solar system.',
        //     'There is a volcano on Mars three times the size of Everest.',
        //     'Mercury and Venus are the only planets with no moons.',
        //     'Saturn has 82 known moons and counting.',
        //     'The gas giant Jupiter is a failed star.',
        //     'Uranus orbits the Sun on its side.',
        //     'Pluto is now classified as a dwarf planet, not a planet.',
        //     'Pluto and Charon could be a double dwarf planet system.',
        //     'There are five officially recognized dwarf planets in the solar system.',
        //     'Earth’s Moon is the fifth largest moon in the solar system.',
        //     'Enceladus, Saturn’s Moon, is the most reflective body in the solar system.',
        //     'The moons of Uranus were named after characters created by Alexander Pope and William Shakespeare.',
        //     'There are more stars in the universe than all the grains of sand on Earth.',
        //     'The Sun will engulf Earth 5 billion years from now.',
        //     'When you look at a star, what you actually see is how it was in the past.',
        //     'Massive stars end their lives through supernova explosions.',
        //     'Galaxies are either elliptical, spiral, or irregular.',
        //     'There are 2,000,000,000,000 galaxies in the observable universe.',
        //     'Most galaxies have a central black hole.',
        //     'All planets in the solar system have been visited by uncrewed spacecraft.',
        //     'Voyager 1 and 2 have been operating for more than 40 years.',
        //     'The boundary of the solar system ends in a spherical cloud known as the Oort cloud.',
        //     'About 1.4 billion years ago, a day on Earth was just 18 hours 41 minutes long.',
        //     'The International Space Station (ISS) is about as wide as a soccer field.',
        //     'It is possible to see the International Space Station from your backyard.',
        //     'Mars has a reddish sky but bluish twilights.',
        //     'Astronauts grow taller in space.',
        //     'The closest star system to us, Proxima Centauri, is 4.25 light-years away.',
        //     'A rose was brought to space in 1998.',
        //     'There are more than 4,000 known exoplanets, and counting.',
        //     'Other planets, and even a moon, have auroras too.',
        //     'Shooting stars are space debris that burn up when they enter Earth’s atmosphere.',
        //     'We often see astronauts in white spacesuits, but there are orange spacesuits too.',
        //     'As of 2021, more than 600 people have been in space.',
        //     'The outer space is very cold with a temperature of around -454.75 °F (-270.42 °C).'


        //     ];

        const facts = [
            '太空完全寂静。',
            '我们太阳系中最热的行星是 450°C',
            '火星上可能有生命。',
            '没有人知道太空中有多少颗星星。',
            '哈雷彗星要到 2061 年才会再次绕地球运行。',
            '一套完整的 NASA 太空服价值 12,000,000 美元。',
            '中子星每秒可以旋转 600 次。',
            '可能有一颗由钻石制成的行星。',
            '月球上的脚印将在那里存在一亿年。',
            '金星上的一天比一年还要长。',
            '37.5亿年后，银河系和仙女座星系将发生碰撞。',
            '如果两块相同类型的金属在太空中接触，它们就会永久结合。',
            '太空中有漂浮的水。',
            '已知最大的小行星宽 965 公里（600 英里）。',
            '月球曾经是地球的一部分。',
            '太阳的质量占太阳系的99.86%。',
            '火星上有一座火山，其面积是珠穆朗玛峰的三倍。',
            '水星和金星是唯一没有卫星的行星。',
            '土星有 82 颗已知卫星，并且还在不断增加。',
            '气态巨行星木星是一颗失败的恒星。',
            '天王星在其一侧绕太阳运行。',
            '冥王星现在被归类为矮行星，而不是行星。',
            '冥王星和卡戎可能是一个双矮行星系统。',
            '太阳系中有五颗官方认可的矮行星。',
            '地球的月球是太阳系第五大卫星。',
            '土星的卫星土卫二是太阳系中反射性最强的天体。',
            '天王星的卫星是以亚历山大·波普和威廉·莎士比亚创造的人物命名的。',
            '宇宙中的星星比地球上所有的沙粒还多。',
            '50亿年后太阳将吞没地球。',
            '当你看着一颗星星时，你实际上看到的是它过去的样子。',
            '大质量恒星通过超新星爆炸结束生命。',
            '星系要么是椭圆形的，要么是螺旋形的，要么是不规则的。',
            '可观测宇宙中有 2,000,000,000,000 个星系。',
            '大多数星系都有一个中心黑洞。',
            '无人航天器已经访问过太阳系中的所有行星。',
            '航海家 1 号和 2 号已经运营了 40 多年。',
            '太阳系的边界终止于称为奥尔特云的球形云。',
            '大约14亿年前，地球上的一天只有18小时41分钟。',
            '国际空间站 (ISS) 大约有一个足球场那么宽。',
            '从你的后院就可以看到国际空间站。',
            '火星的天空呈红色，但黄昏却呈蓝色。',
            '宇航员在太空中会长高。',
            '距离我们最近的恒星系统是比邻星，距离我们 4.25 光年。',
            '1998 年，一朵玫瑰被带入太空。',
            '已知的系外行星超过 4,000 颗，而且还在不断增加。',
            '其他行星，甚至月球，也有极光。',
            '流星是太空碎片，当它们进入地球大气层时就会燃烧。',
            '我们经常看到穿着白色宇航服的宇航员，但也有橙色宇航服的。',
            '截至 2021 年，已有 600 多人进入太空。',
            '外太空非常寒冷，温度约为 -454.75 °F (-270.42 °C)。'
        ]

        let rand = Math.random() * 50;
        console.log(rand); // say 99.81321410836433
        rand = Math.floor(rand);

        document.getElementById("fact").innerHTML = facts[rand];

    </script>

{% endblock %}