<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
  <a class="navbar-brand me-lg-5" href="/">
      <img class="navbar-brand-dark" src=" {{ url_for('static', filename='assets/img/brand/light.svg') }}" alt="Volt logo" /> <img class="navbar-brand-light" src="{{ url_for('static', filename='assets/img/brand/dark.svg') }}" alt="Volt logo" />
  </a>
  <div class="d-flex align-items-center">
      <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  </div>
</nav>

<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
<div class="sidebar-inner px-4 pt-3">
  <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
    <div class="d-flex align-items-center">
      <div class="avatar-lg me-4">
        <img src="{{ config.ASSETS_ROOT }}/img/team/profile-picture-3.jpg" class="card-img-top rounded-circle border-white"
          alt="">
      </div>
      <div class="d-block">
        <!-- <h2 class="h5 mb-3">Hi, Jane</h2> -->
        <!-- <a href="/page-sign-in.html" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
          <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>            
          Sign Out
        </a> -->
      </div>
    </div>
    <div class="collapse-close d-md-none">
      <a href="#sidebarMenu" data-bs-toggle="collapse"
          data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
          aria-label="Toggle navigation">
          <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
  </div>
  <ul class="nav flex-column pt-3 pt-md-0">
     <li class="nav-item">
      <a href="#" class="nav-link d-flex align-items-center">
        <img src="{{ config.ASSETS_ROOT }}/static/assets/img/icons/icon.svg" height="100" width="200" alt="Volt Logo">
      </a>
    </li> 
    <li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
      <a href="/dashboard.html" class="nav-link">
        <span class="sidebar-icon">
          <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
        </span> 
        <span class="sidebar-text">Dashboard</span>
      </a>
    </li>
    <li class="nav-item {% if 'satellites' in segment %} active {% endif %}">
      <span
        class="nav-link  collapsed  d-flex justify-content-between align-items-center"
        data-bs-toggle="collapse" data-bs-target="#submenu-app">
        <span>
          <span class="sidebar-icon">
            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z" clip-rule="evenodd"></path></svg>
          </span> 
          <span class="sidebar-text">Satellites</span>
        </span>
        <span class="link-arrow">
          <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        </span>
      </span>
      <div class="multi-level collapse {% if 'satellites' in segment %} show {% endif %}"
        role="list" id="submenu-app" aria-expanded="false">
        <ul class="flex-column nav">
          <li class="nav-item {% if 'manage-satellites' in segment %} active {% endif %}">
            <a class="nav-link" href="/manage-satellites.html">
              <span class="sidebar-text">Manage Satellites</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="multi-level collapse {% if 'satellites' in segment %} show {% endif %}"
        role="list" id="submenu-app" aria-expanded="false">
        <ul class="flex-column nav">
          <li class="nav-item {% if 'about-satellites' in segment %} active {% endif %}">
            <a class="nav-link" href="about-satellites.html">
              <span class="sidebar-text">About Satellites</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item {% if 'schedule' in segment %} active {% endif %}">
      <a href="/schedule.html" class="nav-link">
        <span class="sidebar-icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="icon icon-xs me-2" fill="currentColor"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/></svg>
        </span>
        <span class="sidebar-text">Schedule</span>
      </a>
    </li>

    <li class="nav-item {% if 'tables-bootstrap-' in segment %} active {% endif %}">
      <span
        class="nav-link  collapsed  d-flex justify-content-between align-items-center"
        data-bs-toggle="collapse" data-bs-target="#submenu-app1">
        <span>
          <span class="sidebar-icon">
            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z" clip-rule="evenodd"></path></svg>
          </span> 
          <span class="sidebar-text">Reports</span>
        </span>
        <span class="link-arrow">
          <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        </span>
      </span>
      <div class="multi-level collapse {% if 'received-passes-' in segment %} show {% endif %}"
        role="list" id="submenu-app1" aria-expanded="false">
        <ul class="flex-column nav">
          <li class="nav-item {% if 'received-passes-table' in segment %} active {% endif %}">
            <a class="nav-link" href="/received-passes-table.html">
              <span class="sidebar-text">Received Passes</span>
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item {% if 'settings' in segment %} active {% endif %}">
      <a href="/settings.html" class="nav-link">
        <span class="sidebar-icon">
          <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>
        </span>
        <span class="sidebar-text">Settings</span>
      </a>
    </li>
    <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
    <li class="nav-item" id="spectrum">
      <a class="nav-link">  
       <span class="sidebar-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-radar text-secondary me-2" viewBox="0 0 16 16">
          <path d="M6.634 1.135A7 7 0 0 1 15 8a.5.5 0 0 1-1 0 6 6 0 1 0-6.5 5.98v-1.005A5 5 0 1 1 13 8a.5.5 0 0 1-1 0 4 4 0 1 0-4.5 3.969v-1.011A2.999 2.999 0 1 1 11 8a.5.5 0 0 1-1 0 2 2 0 1 0-2.5 1.936v-1.07a1 1 0 1 1 1 0V15.5a.5.5 0 0 1-1 0v-.518a7 7 0 0 1-.866-13.847Z"/>
        </svg>
       </span>
       <span class="sidebar-text">Spectrum</span>
      </a>
    </li> 
  <li class="nav-item" id="acu">
    <a href="" class="nav-link">  
    <span class="sidebar-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dpad text-secondary me-2" viewBox="0 0 16 16">
        <path d="m7.788 2.34-.799 1.278A.25.25 0 0 0 7.201 4h1.598a.25.25 0 0 0 .212-.382l-.799-1.279a.25.25 0 0 0-.424 0Zm0 11.32-.799-1.277A.25.25 0 0 1 7.201 12h1.598a.25.25 0 0 1 .212.383l-.799 1.278a.25.25 0 0 1-.424 0ZM3.617 9.01 2.34 8.213a.25.25 0 0 1 0-.424l1.278-.799A.25.25 0 0 1 4 7.201V8.8a.25.25 0 0 1-.383.212Zm10.043-.798-1.277.799A.25.25 0 0 1 12 8.799V7.2a.25.25 0 0 1 .383-.212l1.278.799a.25.25 0 0 1 0 .424Z"/>
        <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v3a.5.5 0 0 1-.5.5h-3A1.5 1.5 0 0 0 0 6.5v3A1.5 1.5 0 0 0 1.5 11h3a.5.5 0 0 1 .5.5v3A1.5 1.5 0 0 0 6.5 16h3a1.5 1.5 0 0 0 1.5-1.5v-3a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 0 16 9.5v-3A1.5 1.5 0 0 0 14.5 5h-3a.5.5 0 0 1-.5-.5v-3A1.5 1.5 0 0 0 9.5 0h-3ZM6 1.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3A1.5 1.5 0 0 0 11.5 6h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a1.5 1.5 0 0 0-1.5 1.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-3A1.5 1.5 0 0 0 4.5 10h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 0 6 4.5v-3Z"/>
      </svg>
    </span>
    <span class="sidebar-text">ACU</span>
    </a>
  </li> 
    <li class="nav-item" id="acu">
         <a href="" class="nav-link">  <!-- {#{{ url_for('authentication_blueprint.logout') }} #} -->
          <span class="sidebar-icon">
              <svg class="icon icon-xs text-danger me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
              </svg> 
          </span>
          <span class="sidebar-text">Logout</span>
      </a>
    </li>            
    
  </ul>
</div>
</nav>

{% block javascripts %}
<script>
  document.getElementById("spectrum").onclick = function launchSpectrum(){
    // Command `cd C:\Users\DELL\Documents\sdrangelspectrum\sdrangelspectrum\dist\sdrangelspectrum`
    // Command `http-server`
    newWindow = window.open('http://127.0.0.1:8080/','spectrum_dashboard','height=960px,width=940px');
  }

  document.getElementById("acu").onclick = function launchSpectrum(){
    // Command `launch sdrangel`
    // Command `toggle open rotor control`
    newWindow = window.open('acu.html','acu_dashboard','height=960px,width=940px');
  }
</script>
{% endblock javascripts %}  